/* This style sheet contains styles for the main site layout
----------------------------------------------------------*/

/* DEFAULTS
----------------------------------------------------------*/
body {
    background: #31527F;
    font-size: .75em;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #31527F;
    background-image: url(../content/images/login_bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
}


/* PRIMARY LAYOUT STYLES
---------------------------------------------------------*/

.center
{
    width: 332px;
    margin: 45px auto 0px auto;
    overflow: visible;
}

.logo { margin-bottom: 30px; }

.contentbox
{
    background: #FFFFFF; 
    min-height: 235px;
    padding: 3px 15px 15px 15px;
}

.clipboard {
    width: 244px;
    height: 205px;
    background-image: url(../content/images/clipboard.png);
    position: relative;
    left: -45px;
    top: -142px;
}

/* MISC  
----------------------------------------------------------*/

.fieldwrapper 
{
    margin-top: 8px;
}

.loginlabel {
    width: 90px;
    color: #442463;
    float: left;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 8px;
    font-size: 16px;
}

.logininput 
{
    float: left;
    margin-left: 5px;
}

.logininput input { width: 160px;}

.loginbutton { float: right; width: 105px;}

#login-footer
{
    float:right;
    color:#fff;
    padding:10px;
}

#login-footer a,
#login-footer a:visited,
#login-footer a:active,
#login-footer a:hover
{
    color:#fff;
    text-decoration:none;
}

#login-footer a:hover
{
    text-decoration:underline;
}

.btn-primay {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.customInput {
    display: block;
    width: 88%;
    height: 24px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


